{% extends 'base.html' %}
{% block content %}
<div class="jumbotron" style="font-family: 'Raleway', sans-serif;">
    <div class="row" style="margin-left:5%; padding:20px;">
        <h6>Nominees <strong> / {{post.sitename}}</strong> from <strong>{{post.country}}</strong> </h6>
    </div>
    <div class="container">
        <a href="{{post.url}}" target="blank"><img src="{{post.image.url}}" class="img-responsive" alt="" style="width:100%;" height="500px;"></a>
        <div class="row" style="padding-top:30px;">
            <div class="col-md-6">
                <h5><strong>{{post.sitename}}</strong></h5>
            </div>
            <div class="col-md-6" style="text-align: right; padding-bottom: 20px;">
                <h6>{{post.post_date|timesince}} ago</h6>
            </div>
            <div class="" style="text-align:justify; padding-left:20px; padding-right:20px;  letter-spacing: 1px;font-family: 'Dosis', sans-serif;">
                <h6>by <strong style="color:#49c5b6;">{{post.user}}</strong> ({{post.country}}) </h6>
                <p>{{post.Description}}</p>
            </div>
        </div>
    </div>
</div>
{%endblock%}